$maincolor: #e22335;
$bgcolor: #242424;
$bgcolor2: #0d0d0d;
$bgcolor3: #f7f7f7;
$white: #fff;
$black: #000;
$starscolor: #ff9f43;
$headcolor: #2a2b2c;
$textcolor: #656565;
$pline: 1.7;
$padding: 70px;
$margin-bottom: 70px;
// box-shadow: 8px 8px 35px 1px rgb(112 112 112 / 21%);
